* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font-family: 'Calibri Light', sans-serif;
  overflow-x: hidden; }

header {
  background: white;
  overflow-x: hidden; }

nav {
  height: 8vh;
  margin: 0px 5% 0 5%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.logo {
  flex: 1;
  letter-spacing: 5px;
  font-size: 16px; }
  .logo--highlight {
    color: red; }

.nav-links {
  flex: 1;
  display: flex;
  justify-content: space-around; }
  .nav-links__link {
    list-style: none; }
  .nav-links__title {
    letter-spacing: 2px;
    font-weight: bold;
    color: #949391;
    text-decoration: none; }

.collapse {
  display: none; }

.collapse {
  margin: auto; }
  .collapse__line {
    width: 25px;
    height: 3px;
    background-color: #949391;
    margin: 5px; }

.current {
  color: red; }

/*
    .......##...........##.....##..#######..########..####.##.......########.................##
    ......##...##...##..###...###.##.....##.##.....##..##..##.......##........##...##.......##.
    .....##.....##.##...####.####.##.....##.##.....##..##..##.......##.........##.##.......##..
    ....##....#########.##.###.##.##.....##.########...##..##.......######...#########....##...
    ...##.......##.##...##.....##.##.....##.##.....##..##..##.......##.........##.##.....##....
    ..##.......##...##..##.....##.##.....##.##.....##..##..##.......##........##...##...##.....
    .##.................##.....##..#######..########..####.########.########...........##......
*/
@media only screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 400px;
    top: 5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.1s ease-in; }
    .nav-links__link {
      opacity: 1; }
    .nav-links--active {
      transform: translateX(0%); }
    .nav-links--current {
      text-decoration: red; }
  .current {
    color: red;
    border-bottom: 1px solid red; }
  .collapse {
    display: block; }
  .top {
    margin: auto;
    text-align: center; }
    .top__button {
      margin-top: 30px; }
    .top--home {
      padding-top: 120px;
      height: 477px;
      background-color: #7D7D7C; }
    .top--price {
      margin-bottom: 20px;
      height: 100vh;
      background-color: #CAFAFA; }
    .top--services {
      height: 80vh;
      background-color: white; }
    .top--team {
      max-width: 100%;
      height: 160vh;
      background-color: #CAFAFA; }
  .intro__title {
    font-weight: bold;
    font-size: 30px; }
    .intro__title--white {
      color: white; }
    .intro__title--black {
      padding-top: 50px;
      color: black;
      text-align: center; }
  .intro__text {
    margin-top: 20px 0 20px 0;
    text-align: center; }
    .intro__text--white {
      width: 95%;
      margin: 0 2.5% 0 2.5%;
      font-size: 16px;
      color: white; }
    .intro__text--black {
      width: 95%;
      font-size: 16px;
      margin: 0 2.5% 0 2.5%;
      padding-bottom: 20px;
      color: black; }
  .short-border-bottom {
    display: flex; }
    .short-border-bottom--center {
      width: 15%;
      border-bottom: 2px solid #46a6e6;
      margin: 0 0 40px 45%; }
    .short-border-bottom--left {
      width: 10%;
      border-bottom: 2px solid #46a6e6;
      margin: 10px 0 20px 0px; }
  .exp {
    background: #EBF1F1;
    align-items: center; }
    .exp__exp-image {
      height: auto; }
    .exp__exp-content {
      width: 90%;
      margin: 0 5% 0 5%; }
  .exp-image {
    margin: 0 2% 10px 2%; }
    .exp-image__img {
      padding: 15px 0 15px 0;
      width: 100%;
      height: auto; }
  .exp-content__box {
    padding: 20px 0 20px 0;
    width: 100%;
    margin: 20px 0 0px 0; }
  .box {
    margin: 0;
    width: 100%; }
    .box__img--small {
      margin-right: 10px;
      width: 20px;
      height: 20px; }
    .box__img--medium {
      width: 30px;
      height: 30px; }
    .box__title {
      font-size: 16px;
      margin-left: 20px; }
    .box__detail {
      margin-left: 15%;
      font-size: 16px;
      margin-bottom: 20px; }
    .box__content {
      font-size: 13px;
      width: 100%;
      float: left; }
      .box__content--group1 {
        width: 100%;
        display: flex;
        float: left; }
      .box__content--group2 {
        display: flex;
        width: 100%; }
  .option {
    padding-bottom: 20px; }
  .price-list__item {
    height: auto;
    margin: 10px 10px 20px 10px;
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
    -moz-box-shadow: 1px 1px 6px 0px #7d767d;
    box-shadow: 1px 1px 6px 0px #7d767d; }
  .p-item__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 7px; }
  .p-item__price {
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16x; }
    .p-item__price--bigger {
      font-weight: bold;
      font-size: 60px; }
  .p-item__description {
    margin: 10px;
    font-size: 16px;
    font-weight: bold; }
  .offers {
    margin-top: 20px;
    float: left; }
    .offers__offer {
      margin: 0px 2.5% 50px 2.5%;
      width: 95%;
      display: inline-flex;
      align-items: flex-start; }
  .offer__img {
    width: 30px;
    height: 30px; }
  .offer__text {
    text-align: start;
    padding-left: 5px; }
  .team {
    background-color: #CAFAFA; }
  .person__item {
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
    -moz-box-shadow: 1px 1px 6px 0px #7d767d;
    box-shadow: 1px 1px 6px 0px #7d767d; }
  .group1 {
    height: auto;
    margin: 0px 2.5% 0 2.5%;
    float: left;
    width: 95%; }
  .group2 {
    margin: 0px 2.5% 0 2.5%;
    float: left;
    width: 95%;
    height: auto; }
  .per-item {
    margin-top: 40px; }
    .per-item__img {
      background: #808383;
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 4;
      box-shadow: 0px 0px 0px 7px #CAFAFA; }
  .per-name__title {
    margin: 0;
    font-size: 30px; }
  .per-name__text {
    font-size: 15px;
    margin: 0px 5% 0px 5%; }
    .per-name__text--small {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 20px; }
  .social-img {
    margin: 10px 5px 15px 5px;
    width: 25px;
    height: 25px; }
  .btn {
    background-color: white;
    border: none;
    color: black;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; }
    .btn--signup {
      border-radius: 24px;
      background-color: white;
      color: black;
      border: 1px solid #f44336; }
    .btn--demo {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      height: 40px;
      font-size: 20px;
      width: 150px;
      border-radius: 4px;
      background-color: transparent;
      color: black;
      border: 1px solid white; }
    .btn--price {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      text-transform: uppercase;
      margin: 10px 10px;
      height: 25px;
      font-size: 16px;
      width: 100px;
      border-radius: 4px;
      background-color: #0eaeee;
      color: white; }
    .btn--price-active {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      text-transform: uppercase;
      margin: 10px 10px;
      height: 25px;
      font-size: 16px;
      width: 100px;
      border-radius: 4px;
      background-color: red;
      color: white; }
    .btn--offer {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      margin: 5px 10px;
      height: 25px;
      font-size: 16px;
      width: 100px;
      border-radius: 4px;
      background-color: #0eaeee;
      color: white; }
    .btn--download {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      height: 40px;
      font-size: 20px;
      width: 150px;
      border-radius: 4px;
      padding: 7px 12px;
      background-color: red;
      color: white; }
  .infomation {
    width: 100%;
    background-color: #06688C; }
    .infomation__about {
      margin: 0px 7px 0px 7px; }
    .infomation__address {
      margin: 0px 7px 0px 7px; }
    .infomation__social {
      margin: 0px 7px 0px 7px; }
    .infomation__form {
      width: 100%;
      margin: 0px 7px 0px 7px; }
  .title {
    margin: 0em;
    font-weight: bold;
    padding-top: 20px;
    font-size: 30px;
    color: white; }
    .title--small {
      font-weight: bold;
      color: #a79a9a; }
  .adds .add {
    margin: 0px 5px 5px 5px;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    align-items: center; }
  .social-icon {
    display: flex;
    text-decoration: none;
    list-style: none; }
  .form-bottom {
    width: 100%; }
    .form-bottom__name {
      color: white;
      line-height: 30px;
      margin-top: 10px;
      height: 30px;
      width: 100%;
      background-color: #7d767d;
      border: none;
      outline: none; }
    .form-bottom__email {
      line-height: 30px;
      color: white;
      margin-top: 10px;
      height: 30px;
      width: 100%;
      background-color: #7d767d;
      border: none;
      outline: none; }
    .form-bottom__message {
      color: white;
      line-height: 30px;
      height: 100px;
      margin-top: 10px;
      width: 100%;
      background-color: #7d767d;
      border: none;
      outline: none; } }

/*
      ########....###....########..##.......########.########..######...##.....................##
      ...##......##.##...##.....##.##.......##..........##....##....##.####.....##...##.......##.
      ...##.....##...##..##.....##.##.......##..........##....##........##.......##.##.......##..
      ...##....##.....##.########..##.......######......##.....######..........#########....##...
      ...##....#########.##.....##.##.......##..........##..........##..##.......##.##.....##....
      ...##....##.....##.##.....##.##.......##..........##....##....##.####.....##...##...##.....
      ...##....##.....##.########..########.########....##.....######...##...............##......
      */
@media only screen and (min-width: 768px) {
  header {
    background: white;
    height: 8vh;
    margin: auto; }
  nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .logo {
    flex: 1;
    letter-spacing: 5px;
    font-size: 16px; }
    .logo--highlight {
      color: red; }
  .nav-links {
    flex: 2;
    display: flex;
    justify-content: space-around; }
    .nav-links__link {
      list-style: none; }
    .nav-links__title {
      letter-spacing: 2px;
      font-weight: bold;
      color: #949391;
      text-decoration: none; }
  .current {
    color: red;
    border-bottom: 1px solid red; }
  .collapse {
    display: none; }
  .collapse {
    margin: auto; }
    .collapse__line {
      width: 25px;
      height: 3px;
      background-color: #949391;
      margin: 5px; }
  .current {
    color: red; }
  .top {
    margin: auto;
    text-align: center; }
    .top__button {
      margin-top: 30px; }
    .top--home {
      padding-top: 250px;
      min-height: 800px;
      background-color: #7D7D7C; }
    .top--price {
      margin-bottom: 20px;
      min-height: 140vh;
      background-color: #CAFAFA; }
    .top--team {
      max-width: 100%;
      min-height: 160vh;
      background-color: #CAFAFA; }
  .intro__title {
    font-weight: 500; }
    .intro__title--white {
      margin-bottom: 10px;
      font-size: 50px;
      color: white;
      font-weight: bold; }
    .intro__title--black {
      text-align: center;
      margin-top: 0;
      margin-bottom: 10px;
      padding-top: 100px;
      color: black;
      font-size: 50px;
      font-weight: bold; }
  .intro__text {
    text-align: center; }
    .intro__text--white {
      margin: 0 5% 10px 5%;
      font-size: 18px;
      color: white;
      letter-spacing: 1px; }
    .intro__text--black {
      margin: 0 5% 20px 5%;
      font-size: 18px;
      color: black;
      letter-spacing: 1px; }
  .short-border-bottom {
    display: flex; }
    .short-border-bottom--center {
      width: 7%;
      border-bottom: 2px solid #46a6e6;
      margin: 0 0 40px 45%; }
    .short-border-bottom--left {
      width: 10%;
      border-bottom: 2px solid #46a6e6;
      margin: 10px 0 20px 0px; }
  .exp {
    background: #EBF1F1;
    align-items: center; }
    .exp__exp-image {
      height: 250px; }
    .exp__exp-content {
      width: 90%;
      margin: 0 5% 0 5%; }
  .exp-image {
    margin: 0 5% 10px 5%;
    height: auto; }
    .exp-image__img {
      padding: 50px 0 0px 0;
      width: 100%;
      height: auto; }
  .exp-content__box {
    display: float;
    padding: 20px 0 20px 0;
    width: 100%; }
  .exp-group1 {
    float: left; }
  .box {
    margin: 0;
    width: 100%; }
    .box__img--small {
      margin-right: 10px;
      width: 20px;
      height: 20px; }
    .box__img--medium {
      width: 30px;
      height: 30px; }
    .box__title {
      font-size: 16px;
      margin-left: 20px; }
    .box__detail {
      margin-left: 15%;
      font-size: 16px;
      margin-bottom: 20px; }
    .box__content {
      font-size: 13px;
      width: 100%;
      float: left; }
      .box__content--group1 {
        width: 50%;
        display: flex;
        float: left; }
      .box__content--group2 {
        display: flex;
        width: 100%; }
  .price-list {
    height: auto; }
    .price-list__item {
      background-color: white;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d; }
  .p-item {
    margin: 2.5%;
    float: left;
    width: 45%;
    height: 300px; }
    .p-item__title {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-top: 10px; }
    .p-item__price {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 20x; }
      .p-item__price--bigger {
        font-weight: bold;
        font-size: 80px; }
    .p-item__description {
      margin: 10px;
      font-size: 16px;
      font-weight: 20px;
      font-weight: bold; }
  .offers {
    float: left; }
    .offers__offer {
      font-size: 16px;
      margin: 0px 5px 50px 5px;
      width: 40%;
      display: inline-flex;
      align-items: flex-start; }
  .offer__img {
    width: 30px;
    height: 30px; }
  .offer__text {
    text-align: start;
    padding-left: 5px; }
  .team {
    background-color: #CAFAFA; }
  .person__item {
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
    -moz-box-shadow: 1px 1px 6px 0px #7d767d;
    box-shadow: 1px 1px 6px 0px #7d767d; }
    .person__item--group1 {
      margin: 2.5%;
      float: left;
      width: 45%;
      height: auto;
      background-color: white;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d; }
  .group1 {
    margin-top: 80px;
    height: auto; }
  .group2 {
    margin: 50px 2.5% 0 2.5%;
    float: left;
    width: 95%;
    height: 300px; }
  .per-item__img {
    background: #808383;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 0px 0px 7px #CAFAFA; }
  .per-name__title {
    margin: 0;
    font-size: 30px; }
  .per-name__text {
    font-size: 16px;
    margin: 0px 5% 0px 5%; }
    .per-name__text--small {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 20px; }
  .social-img {
    margin: 10px 5px 15px 5px;
    width: 25px;
    height: 25px; }
  .btn {
    background-color: white;
    border: none;
    color: black;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; }
    .btn--signup {
      border-radius: 24px;
      background-color: white;
      color: black;
      border: 1px solid #f44336; }
    .btn--demo {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      height: 40px;
      font-size: 20px;
      width: 150px;
      border-radius: 4px;
      background-color: transparent;
      color: black;
      border: 1px solid white; }
    .btn--price {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      text-transform: uppercase;
      margin: 10px 10px;
      height: 40px;
      font-size: 20px;
      font-weight: bold;
      width: 200px;
      border-radius: 4px;
      background-color: #0eaeee;
      color: white; }
    .btn--price-active {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      text-transform: uppercase;
      margin: 10px 10px;
      font-size: 20px;
      font-weight: bold;
      height: 40px;
      width: 200px;
      border-radius: 4px;
      background-color: red;
      color: white; }
    .btn--offer {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      margin: 5px 10px;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
      height: 40px;
      width: 200px;
      border-radius: 4px;
      background-color: #0eaeee;
      color: white; }
    .btn--download {
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d;
      height: 40px;
      font-size: 20px;
      width: 150px;
      border-radius: 4px;
      padding: 7px 12px;
      background-color: red;
      color: white; }
  .infomation {
    width: 100%;
    background-color: #06688C; }
    .infomation__about {
      margin: 0px 7px 0px 7px; }
    .infomation__address {
      margin: 0px 7px 0px 7px; }
    .infomation__social {
      margin: 0px 7px 0px 7px; }
    .infomation__form {
      width: 100%;
      margin: 0px 7px 0px 7px; }
  .title {
    margin: 0em;
    font-weight: bold;
    padding-top: 20px;
    font-size: 16px;
    color: white; }
    .title--small {
      font-weight: bold;
      color: #a79a9a; }
  .adds .add {
    margin: 0px 5px 5px 5px;
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    align-items: center; }
  .social-icon {
    display: flex;
    text-decoration: none;
    list-style: none; }
  .form-bottom {
    width: 100%; }
    .form-bottom__name {
      color: white;
      line-height: 30px;
      margin-top: 10px;
      height: 30px;
      width: 100%;
      background-color: #7d767d;
      border: none;
      outline: none; }
    .form-bottom__email {
      line-height: 30px;
      color: white;
      margin-top: 10px;
      height: 30px;
      width: 100%;
      background-color: #7d767d;
      border: none;
      outline: none; }
    .form-bottom__message {
      color: white;
      line-height: 30px;
      height: 100px;
      margin-top: 10px;
      width: 100%;
      background-color: #7d767d;
      border: none;
      outline: none; } }

/*         
    .########..########..######..##....##
    .##.....##.##.......##....##.##...##.
    .##.....##.##.......##.......##..##..
    .##.....##.######....######..#####...
    .##.....##.##.............##.##..##..
    .##.....##.##.......##....##.##...##.
    .########..########..######..##....##
*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  nav {
    height: 8vh;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .logo {
    flex: 1;
    letter-spacing: 5px;
    font-size: 16px; }
    .logo--highlight {
      color: red; }
  .nav-links {
    flex: 1;
    display: flex;
    justify-content: space-around; }
    .nav-links__link {
      list-style: none; }
    .nav-links__title {
      letter-spacing: 2px;
      font-weight: bold;
      color: #949391;
      text-decoration: none; }
  .current {
    color: red;
    border-bottom: 1px solid red; }
  .collapse {
    display: none; }
  .collapse {
    margin: auto; }
    .collapse__line {
      width: 25px;
      height: 3px;
      background-color: #949391;
      margin: 5px; }
  .current {
    color: red;
    border-bottom: 1px solid red;
    border-width: 10px; }
  .top {
    margin: auto;
    text-align: center; }
    .top__button {
      margin-top: 30px; }
    .top--home {
      padding-top: 200px;
      min-height: 650px;
      background-color: #7D7D7C; }
    .top--price {
      margin-bottom: 20px;
      min-height: 100vh;
      background-color: #CAFAFA; }
    .top--team {
      max-width: 100%;
      min-height: 140vh;
      background-color: #CAFAFA; }
  .exp {
    display: inline-flex;
    background: #EBF1F1;
    align-items: center; }
    .exp__exp-image {
      width: 50%; }
    .exp__exp-content {
      width: 50%; }
  .exp-image {
    height: auto; }
    .exp-image__img {
      padding: 50px 0 50px 0;
      width: 100%;
      height: auto; }
  .exp-content__box {
    padding: 20px 0 20px 0;
    width: 100%; }
  .exp-group1 {
    float: left; }
  .box {
    margin: 0;
    width: 100%; }
    .box__img--small {
      margin-right: 10px;
      width: 20px;
      height: 20px; }
    .box__img--medium {
      width: 30px;
      height: 30px; }
    .box__title {
      font-size: 16px;
      margin-left: 20px; }
    .box__detail {
      margin-left: 15%;
      font-size: 16px;
      margin-bottom: 20px; }
    .box__content {
      font-size: 13px;
      width: 100%;
      float: left; }
      .box__content--group1 {
        width: 100%;
        display: flex;
        float: left; }
      .box__content--group2 {
        display: flex;
        width: 100%; }
  .price-list {
    height: auto; }
    .price-list__item {
      background-color: white;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d; }
  .p-item {
    margin: 1.25%;
    float: left;
    width: 22.5%;
    height: auto; }
    .p-item__title {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-top: 10px; }
    .p-item__price {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 15px; }
      .p-item__price--bigger {
        font-weight: bold;
        font-size: 80px; }
    .p-item__description {
      margin: 10px;
      font-size: 16px;
      font-weight: 20px;
      font-weight: bold; }
  .team {
    background-color: #CAFAFA; }
  .person__item {
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
    -moz-box-shadow: 1px 1px 6px 0px #7d767d;
    box-shadow: 1px 1px 6px 0px #7d767d; }
    .person__item--group1 {
      margin: 2.5%;
      float: left;
      width: 28%;
      height: auto;
      background-color: white;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d; }
  .group1 {
    margin-top: 80px;
    height: auto; }
  .group2 {
    margin: 2.5%;
    width: 28%;
    height: 300px; }
  .per-item__img {
    background: #808383;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 0px 0px 7px #CAFAFA; }
  .per-name__title {
    margin: 0;
    font-size: 30px; }
  .per-name__text {
    font-size: 16px;
    margin: 0px 5% 0px 5%; }
    .per-name__text--small {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 20px; }
  .social-img {
    margin: 10px 5px 15px 5px;
    width: 25px;
    height: 25px; } }

/*
.########..........########..########..######..##....##
.##.....##.........##.....##.##.......##....##.##...##.
.##.....##.........##.....##.##.......##.......##..##..
.########..#######.##.....##.######....######..#####...
.##.....##.........##.....##.##.............##.##..##..
.##.....##.........##.....##.##.......##....##.##...##.
.########..........########..########..######..##....##
*/
@media only screen and (min-width: 1366px) {
  nav {
    height: 8vh;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .logo {
    flex: 1;
    letter-spacing: 5px;
    font-size: 16px; }
    .logo--highlight {
      color: red; }
  .nav-links {
    flex: 1;
    display: flex;
    justify-content: space-around; }
    .nav-links__link {
      list-style: none; }
    .nav-links__title {
      letter-spacing: 2px;
      font-weight: bold;
      color: #949391;
      text-decoration: none; }
  .collapse {
    display: none; }
  .collapse {
    margin: auto; }
    .collapse__line {
      width: 25px;
      height: 3px;
      background-color: #949391;
      margin: 5px; }
  .current {
    color: red;
    border-bottom: 1px solid red;
    border-spacing: 10px; }
  .top {
    margin: auto;
    text-align: center; }
    .top__button {
      margin-top: 30px; }
    .top--home {
      padding-top: 200px;
      min-height: 650px;
      background-color: #7D7D7C; }
    .top--price {
      margin-bottom: 20px;
      min-height: 100vh;
      background-color: #CAFAFA; }
    .top--team {
      max-width: 100%;
      min-height: 120vh;
      background-color: #CAFAFA; }
  .exp {
    display: inline-flex;
    background: #EBF1F1;
    align-items: center; }
    .exp__exp-image {
      width: 50%; }
    .exp__exp-content {
      width: 50%; }
  .exp-image {
    height: auto; }
    .exp-image__img {
      padding: 50px 0 50px 0;
      width: 100%;
      height: auto; }
  .exp-content__box {
    padding: 20px 0 20px 0;
    width: 100%; }
  .exp-group1 {
    float: left; }
  .box {
    margin: 0;
    width: 100%; }
    .box__img--small {
      margin-right: 10px;
      width: 20px;
      height: 20px; }
    .box__img--medium {
      width: 30px;
      height: 30px; }
    .box__title {
      font-size: 16px;
      margin-left: 20px; }
    .box__detail {
      margin-left: 15%;
      font-size: 16px;
      margin-bottom: 20px; }
    .box__content {
      font-size: 13px;
      width: 100%;
      float: left; }
      .box__content--group1 {
        width: 100%;
        display: flex;
        float: left; }
      .box__content--group2 {
        display: flex;
        width: 100%; }
  .price-list {
    height: auto; }
    .price-list__item {
      background-color: white;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d; }
  .p-item {
    margin: 1.25%;
    float: left;
    width: 22.5%;
    height: auto; }
    .p-item__title {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding-top: 10px; }
    .p-item__price {
      text-transform: uppercase;
      font-weight: normal;
      font-size: 15px; }
      .p-item__price--bigger {
        font-weight: bold;
        font-size: 80px; }
    .p-item__description {
      margin: 10px;
      font-size: 16px;
      font-weight: 20px;
      font-weight: bold; }
  .team {
    background-color: #CAFAFA; }
  .person__item {
    background-color: white;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
    -moz-box-shadow: 1px 1px 6px 0px #7d767d;
    box-shadow: 1px 1px 6px 0px #7d767d; }
    .person__item--group1 {
      margin: 2.5%;
      float: left;
      width: 28%;
      height: auto;
      background-color: white;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 6px 0px #7d767d;
      -moz-box-shadow: 1px 1px 6px 0px #7d767d;
      box-shadow: 1px 1px 6px 0px #7d767d; }
  .group1 {
    margin-top: 80px;
    height: auto; }
  .group2 {
    margin: 2.5%;
    width: 28%;
    height: 300px; }
  .per-item__img {
    background: #808383;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 0px 0px 7px #CAFAFA; }
  .per-name__title {
    margin: 0;
    font-size: 30px; }
  .per-name__text {
    font-size: 16px;
    margin: 0px 5% 0px 5%; }
    .per-name__text--small {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 20px; }
  .social-img {
    margin: 10px 5px 15px 5px;
    width: 25px;
    height: 25px; } }
