* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Calibri Light', sans-serif;
    overflow-x: hidden;
}

header {
    background: white;
    overflow-x: hidden;
}

nav {
    height: 8vh;
    margin: 0px 5% 0 5%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    flex: 1;
    letter-spacing: 5px;
    font-size: 16px;
    &--highlight {
        color: red;
    }
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    &__link {
        list-style: none;
    }
    &__title {
        letter-spacing: 2px;
        font-weight: bold;
        color: rgb(148, 147, 145);
        text-decoration: none;
    }
}

.collapse {
    display: none;
}

.collapse {
    margin: auto;
    &__line {
        width: 25px;
        height: 3px;
        background-color: rgb(148, 147, 145);
        margin: 5px;
    }
}

.current {
    color: red;
}


/*
    .......##...........##.....##..#######..########..####.##.......########.................##
    ......##...##...##..###...###.##.....##.##.....##..##..##.......##........##...##.......##.
    .....##.....##.##...####.####.##.....##.##.....##..##..##.......##.........##.##.......##..
    ....##....#########.##.###.##.##.....##.########...##..##.......######...#########....##...
    ...##.......##.##...##.....##.##.....##.##.....##..##..##.......##.........##.##.....##....
    ..##.......##...##..##.....##.##.....##.##.....##..##..##.......##........##...##...##.....
    .##.................##.....##..#######..########..####.########.########...........##......
*/

@media only screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 400px;
        top: 5vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.1s ease-in;
        &__link {
            opacity: 1;
        }
        &--active {
            transform: translateX(0%);
        }
    }
    .collapse {
        display: block;
    }
    .top {
        margin: auto;
        text-align: center;
        &__button {
            margin-top: 30px;
        }
        &--home {
            padding-top: 120px;
            min-height: 477px;
            background-color: #7D7D7C;
        }
        &--explore {}
        &--price {
            margin-bottom: 20px;
            min-height: 100vh;
            background-color: #CAFAFA;
        }
        &--services {
            min-height: 80vh;
            background-color: white;
        }
        &--team {
            max-width: 100%;
            min-height: 160vh;
            background-color: #CAFAFA;
        }
    }
    .intro {
        &__title {
            font-weight: bold;
            font-size: 30px;
            &--white {
                color: white;
            }
            &--black {
                padding-top: 50px;
                color: black;
                text-align: center;
                ;
            }
        }
        &__text {
            margin-top: 20px 0 20px 0;
            text-align: center;
            &--white {
                width: 95%;
                margin: 0 2.5% 0 2.5%;
                font-size: 16px;
                color: white;
            }
            &--black {
                width: 95%;
                font-size: 16px;
                margin: 0 2.5% 0 2.5%;
                padding-bottom: 20px;
                color: black;
            }
        }
    }
    .short-border-bottom {
        display: flex;
        &--center {
            width: 15%;
            border-bottom: 2px solid rgb(70, 166, 230);
            margin: 0 0 40px 45%;
        }
        &--left {
            width: 10%;
            border-bottom: 2px solid rgb(70, 166, 230);
            margin: 10px 0 20px 0px;
        }
    }
    // /* EXPLORE*/
    .exp {
        background: #EBF1F1;
        align-items: center;
        &__exp-image {
            height: auto;
        }
        &__exp-content {
            width: 90%;
            margin: 0 5% 0 5%;
        }
    }
    .exp-image {
        margin: 0 2% 10px 2%;
        &__img {
            padding: 15px 0 15px 0;
            width: 100%;
            height: auto;
        }
    }
    .exp-content {
        &__box {
            padding: 20px 0 20px 0;
            width: 100%;
            margin: 20px 0 0px 0;
        }
    }
    .box {
        margin: 0;
        width: 100%;
        &__img {
            &--small {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            &--medium {
                width: 30px;
                height: 30px;
            }
        }
        &__title {
            font-size: 16px;
            margin-left: 20px;
        }
        &__detail {
            margin-left: 15%;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__content {
            font-size: 13px;
            width: 100%;
            float: left;
            &--group1 {
                width: 100%;
                display: flex;
                float: left;
            }
            &--group2 {
                display: flex;
                width: 100%;
            }
        }
    }
    // // mobile-price
    // //option
    .option {
        padding-bottom: 20px;
    }
    .price-list {
        &__item {
            height: auto;
            margin: 10px 10px 20px 10px;
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
        }
    }
    .p-item {
        &__title {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-top: 7px;
        }
        &__price {
            margin: 0;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 16x;
            &--bigger {
                font-weight: bold;
                font-size: 60px;
            }
        }
        &__description {
            margin: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }
    // //offer
    .offers {
        margin-top: 20px;
        float: left;
        &__offer {
            margin: 0px 2.5% 50px 2.5%;
            width: 95%;
            display: inline-flex;
            align-items: flex-start;
        }
    }
    .offer {
        &__img {
            width: 30px;
            height: 30px;
        }
        &__text {
            text-align: start;
            padding-left: 5px;
        }
    }
    // /*TEAM*/
    .team {
        background-color: #CAFAFA;
    }
    .person {
        &__item {
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
        }
    }
    .group1 {
        height: auto;
        margin: 0px 2.5% 0 2.5%;
        float: left;
        width: 95%;
    }
    .group2 {
        margin: 0px 2.5% 0 2.5%;
        float: left;
        width: 95%;
        height: auto;
    }
    .per-item {
        margin-top: 40px;
        &__img {
            background: rgb(128, 131, 131);
            width: 50px;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-50%);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 4;
            box-shadow: 0px 0px 0px 7px #CAFAFA;
        }
        &__name {}
    }
    .per-name {
        &__title {
            margin: 0;
            font-size: 30px;
        }
        &__text {
            font-size: 15px;
            margin: 0px 5% 0px 5%;
            &--small {
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
    }
    .social-img {
        margin: 10px 5px 15px 5px;
        width: 25px;
        height: 25px;
    }
    // /* button */
    .btn {
        background-color: white;
        border: none;
        color: black;
        padding: 4px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        &--signup {
            border-radius: 24px;
            background-color: white;
            color: black;
            border: 1px solid #f44336;
        }
        &--demo {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            height: 40px;
            font-size: 20px;
            width: 150px;
            border-radius: 4px;
            background-color: transparent;
            color: black;
            border: 1px solid white;
        }
        &--price {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            text-transform: uppercase;
            margin: 10px 10px;
            height: 25px;
            font-size: 16px;
            width: 100px;
            border-radius: 4px;
            background-color: rgb(14, 174, 238);
            color: white;
        }
        &--price-active {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            text-transform: uppercase;
            margin: 10px 10px;
            height: 25px;
            font-size: 16px;
            width: 100px;
            border-radius: 4px;
            background-color: red;
            color: white;
        }
        &--offer {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            margin: 5px 10px;
            height: 25px;
            font-size: 16px;
            width: 100px;
            border-radius: 4px;
            background-color: rgb(14, 174, 238);
            color: white;
        }
        &--download {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            height: 40px;
            font-size: 20px;
            width: 150px;
            border-radius: 4px;
            padding: 7px 12px;
            background-color: red;
            color: white;
        }
    }
    // FOOTER
    .infomation {
        width: 100%;
        background-color: #06688C;
        &__about {
            margin: 0px 7px 0px 7px;
        }
        &__address {
            margin: 0px 7px 0px 7px;
        }
        &__social {
            margin: 0px 7px 0px 7px;
        }
        &__form {
            width: 100%;
            margin: 0px 7px 0px 7px;
        }
    }
    .title {
        margin: 0em;
        font-weight: bold;
        padding-top: 20px;
        font-size: 30px;
        color: white;
        &--small {
            font-weight: bold;
            ;
            color: rgb(167, 154, 154);
        }
    }
    .adds {
        .add {
            margin: 0px 5px 5px 5px;
            width: 100%;
            display: inline-flex;
            align-items: flex-start;
            align-items: center;
        }
    }
    .social-icon {
        display: flex;
        text-decoration: none;
        list-style: none;
    }
    .form-bottom {
        width: 100%;
        &__name {
            color: white;
            line-height: 30px;
            margin-top: 10px;
            height: 30px;
            width: 100%;
            background-color: rgba(125, 118, 125, 1);
            border: none;
            outline: none;
        }
        &__email {
            line-height: 30px;
            color: white;
            margin-top: 10px;
            height: 30px;
            width: 100%;
            background-color: rgba(125, 118, 125, 1);
            border: none;
            outline: none;
        }
        &__message {
            color: white;
            line-height: 30px;
            height: 100px;
            margin-top: 10px;
            width: 100%;
            background-color: rgba(125, 118, 125, 1);
            border: none;
            outline: none;
        }
    }
}


/*
      ########....###....########..##.......########.########..######...##.....................##
      ...##......##.##...##.....##.##.......##..........##....##....##.####.....##...##.......##.
      ...##.....##...##..##.....##.##.......##..........##....##........##.......##.##.......##..
      ...##....##.....##.########..##.......######......##.....######..........#########....##...
      ...##....#########.##.....##.##.......##..........##..........##..##.......##.##.....##....
      ...##....##.....##.##.....##.##.......##..........##....##....##.####.....##...##...##.....
      ...##....##.....##.########..########.########....##.....######...##...............##......
      */

//
@media only screen and (min-width: 768px) {
    header {
        background: white;
        height: 8vh;
        margin: auto;
    }
    nav {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        flex: 1;
        letter-spacing: 5px;
        font-size: 16px;
        &--highlight {
            color: red;
        }
    }
    .nav-links {
        flex: 2;
        display: flex;
        justify-content: space-around;
        &__link {
            list-style: none;
        }
        &__title {
            letter-spacing: 2px;
            font-weight: bold;
            color: rgb(148, 147, 145);
            text-decoration: none;
        }
    }
    .collapse {
        display: none;
    }
    .collapse {
        margin: auto;
        &__line {
            width: 25px;
            height: 3px;
            background-color: rgb(148, 147, 145);
            margin: 5px;
        }
    }
    .current {
        color: red;
    }
    /////
    .top {
        margin: auto;
        text-align: center;
        &__intro {}
        &__button {
            margin-top: 30px;
        }
        &--home {
            padding-top: 250px;
            min-height: 800px;
            background-color: #7D7D7C;
        }
        &--price {
            margin-bottom: 20px;
            min-height: 140vh;
            background-color: #CAFAFA;
        }
        &--team {
            max-width: 100%;
            min-height: 160vh;
            background-color: #CAFAFA;
        }
    }
    .intro {
        &__title {
            font-weight: 500;
            &--white {
                margin-bottom: 10px;
                font-size: 50px;
                color: white;
                font-weight: bold;
            }
            &--black {
                text-align: center;
                margin-top: 0;
                margin-bottom: 10px;
                padding-top: 100px;
                color: black;
                font-size: 50px;
                font-weight: bold;
                ;
            }
        }
        &__text {
            text-align: center;
            &--white {
                margin: 0 5% 10px 5%;
                font-size: 18px;
                color: white;
                letter-spacing: 1px;
            }
            &--black {
                margin: 0 5% 20px 5%;
                font-size: 18px;
                color: black;
                letter-spacing: 1px;
            }
        }
    }
    .short-border-bottom {
        display: flex;
        &--center {
            width: 7%;
            border-bottom: 2px solid rgb(70, 166, 230);
            margin: 0 0 40px 45%;
        }
        &--left {
            width: 10%;
            border-bottom: 2px solid rgb(70, 166, 230);
            margin: 10px 0 20px 0px;
        }
    }
    // /* EXPLORE*/
    .exp {
        background: #EBF1F1;
        align-items: center;
        &__exp-image {
            height: 250px;
        }
        &__exp-content {
            width: 90%;
            margin: 0 5% 0 5%;
        }
    }
    .exp-image {
        margin: 0 5% 10px 5%;
        height: auto;
        &__img {
            padding: 50px 0 0px 0;
            width: 100%;
            height: auto;
        }
    }
    .exp-content {
        &__box {
            display: float;
            padding: 20px 0 20px 0;
            width: 100%;
        }
    }
    .exp-group1 {
        float: left;
    }
    .box {
        margin: 0;
        width: 100%;
        &__img {
            &--small {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            &--medium {
                width: 30px;
                height: 30px;
            }
        }
        &__title {
            font-size: 16px;
            margin-left: 20px;
        }
        &__detail {
            margin-left: 15%;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__content {
            font-size: 13px;
            width: 100%;
            float: left;
            &--group1 {
                width: 50%;
                display: flex;
                float: left;
            }
            &--group2 {
                display: flex;
                width: 100%;
            }
        }
    }
    .price-list {
        height: auto;
        &__item {
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
        }
    }
    .p-item {
        margin: 2.5%;
        float: left;
        width: 45%;
        height: 300px;
        &__title {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-top: 10px;
        }
        &__price {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 20x;
            &--bigger {
                font-weight: bold;
                font-size: 80px;
            }
        }
        &__description {
            margin: 10px;
            font-size: 16px;
            font-weight: 20px;
            font-weight: bold;
        }
    }
    // //option
    // //offer
    .offers {
        float: left;
        &__offer {
            font-size: 16px;
            margin: 0px 5px 50px 5px;
            width: 40%;
            display: inline-flex;
            align-items: flex-start;
        }
    }
    .offer {
        &__img {
            width: 30px;
            height: 30px;
        }
        &__text {
            text-align: start;
            padding-left: 5px;
        }
    }
    // /*TEAM*/
    .team {
        background-color: #CAFAFA;
    }
    .person {
        &__item {
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            &--group1 {
                margin: 2.5%;
                float: left;
                width: 45%;
                height: auto;
                background-color: white;
                border-radius: 6px;
                -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
                -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
                box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            }
        }
    }
    .group1 {
        margin-top: 80px;
        height: auto;
    }
    .group2 {
        margin: 50px 2.5% 0 2.5%;
        float: left;
        width: 95%;
        height: 300px;
    }
    .per-item {
        &__img {
            background: rgb(128, 131, 131);
            width: 100px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-50%);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 4;
            box-shadow: 0px 0px 0px 7px #CAFAFA;
        }
        &__name {}
    }
    .per-name {
        &__title {
            margin: 0;
            font-size: 30px;
        }
        &__text {
            font-size: 16px;
            margin: 0px 5% 0px 5%;
            &--small {
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
    }
    .social-img {
        margin: 10px 5px 15px 5px;
        width: 25px;
        height: 25px;
    }
    // /* button */
    .btn {
        background-color: white;
        border: none;
        color: black;
        padding: 4px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        &--signup {
            border-radius: 24px;
            background-color: white;
            color: black;
            border: 1px solid #f44336;
        }
        &--demo {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            height: 40px;
            font-size: 20px;
            width: 150px;
            border-radius: 4px;
            background-color: transparent;
            color: black;
            border: 1px solid white;
        }
        &--price {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            text-transform: uppercase;
            margin: 10px 10px;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
            width: 200px;
            border-radius: 4px;
            background-color: rgb(14, 174, 238);
            color: white;
        }
        &--price-active {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            text-transform: uppercase;
            margin: 10px 10px;
            font-size: 20px;
            font-weight: bold;
            height: 40px;
            width: 200px;
            border-radius: 4px;
            background-color: red;
            color: white;
        }
        &--offer {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            margin: 5px 10px;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
            height: 40px;
            width: 200px;
            border-radius: 4px;
            background-color: rgb(14, 174, 238);
            color: white;
        }
        &--download {
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            height: 40px;
            font-size: 20px;
            width: 150px;
            border-radius: 4px;
            padding: 7px 12px;
            background-color: red;
            color: white;
        }
    }
    // FOOTER
    .infomation {
        width: 100%;
        background-color: #06688C;
        &__about {
            margin: 0px 7px 0px 7px;
        }
        &__address {
            margin: 0px 7px 0px 7px;
        }
        &__social {
            margin: 0px 7px 0px 7px;
        }
        &__form {
            width: 100%;
            margin: 0px 7px 0px 7px;
        }
    }
    .title {
        margin: 0em;
        font-weight: bold;
        padding-top: 20px;
        font-size: 16px;
        color: white;
        &--small {
            font-weight: bold;
            ;
            color: rgb(167, 154, 154);
        }
    }
    .adds {
        .add {
            margin: 0px 5px 5px 5px;
            width: 100%;
            display: inline-flex;
            align-items: flex-start;
            align-items: center;
        }
    }
    .social-icon {
        display: flex;
        text-decoration: none;
        list-style: none;
    }
    .form-bottom {
        width: 100%;
        &__name {
            color: white;
            line-height: 30px;
            margin-top: 10px;
            height: 30px;
            width: 100%;
            background-color: rgba(125, 118, 125, 1);
            border: none;
            outline: none;
        }
        &__email {
            line-height: 30px;
            color: white;
            margin-top: 10px;
            height: 30px;
            width: 100%;
            background-color: rgba(125, 118, 125, 1);
            border: none;
            outline: none;
        }
        &__message {
            color: white;
            line-height: 30px;
            height: 100px;
            margin-top: 10px;
            width: 100%;
            background-color: rgba(125, 118, 125, 1);
            border: none;
            outline: none;
        }
    }
}


/*         
    .########..########..######..##....##
    .##.....##.##.......##....##.##...##.
    .##.....##.##.......##.......##..##..
    .##.....##.######....######..#####...
    .##.....##.##.............##.##..##..
    .##.....##.##.......##....##.##...##.
    .########..########..######..##....##
*/

//

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1024px) {
    nav {
        height: 8vh;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        flex: 1;
        letter-spacing: 5px;
        font-size: 16px;
        &--highlight {
            color: red;
        }
    }
    .nav-links {
        flex: 1;
        display: flex;
        justify-content: space-around;
        &__link {
            list-style: none;
        }
        &__title {
            letter-spacing: 2px;
            font-weight: bold;
            color: rgb(148, 147, 145);
            text-decoration: none;
        }
    }
    .collapse {
        display: none;
    }
    .collapse {
        margin: auto;
        &__line {
            width: 25px;
            height: 3px;
            background-color: rgb(148, 147, 145);
            margin: 5px;
        }
    }
    .current {
        color: red;
    }
    // 
    .top {
        margin: auto;
        text-align: center;
        &__intro {}
        &__button {
            margin-top: 30px;
        }
        &--home {
            padding-top: 200px;
            min-height: 650px;
            background-color: #7D7D7C;
        }
        &--price {
            margin-bottom: 20px;
            min-height: 100vh;
            background-color: #CAFAFA;
        }
        &--team {
            max-width: 100%;
            min-height: 140vh;
            background-color: #CAFAFA;
        }
    }
    ////
    .exp {
        display: inline-flex;
        background: #EBF1F1;
        align-items: center;
        &__exp-image {
            width: 50%;
        }
        &__exp-content {
            width: 50%;
        }
    }
    .exp-image {
        height: auto;
        &__img {
            padding: 50px 0 50px 0;
            width: 100%;
            height: auto;
        }
    }
    .exp-content {
        &__box {
            padding: 20px 0 20px 0;
            width: 100%;
        }
    }
    .exp-group1 {
        float: left;
    }
    .box {
        margin: 0;
        width: 100%;
        &__img {
            &--small {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            &--medium {
                width: 30px;
                height: 30px;
            }
        }
        &__title {
            font-size: 16px;
            margin-left: 20px;
        }
        &__detail {
            margin-left: 15%;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__content {
            font-size: 13px;
            width: 100%;
            float: left;
            &--group1 {
                width: 100%;
                display: flex;
                float: left;
            }
            &--group2 {
                display: flex;
                width: 100%;
            }
        }
    }
    ///
    .price-list {
        height: auto;
        &__item {
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
        }
    }
    .p-item {
        margin: 1.25%;
        float: left;
        width: 22.5%;
        height: auto;
        &__title {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-top: 10px;
        }
        &__price {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 15px;
            &--bigger {
                font-weight: bold;
                font-size: 80px;
            }
        }
        &__description {
            margin: 10px;
            font-size: 16px;
            font-weight: 20px;
            font-weight: bold;
        }
    }
    ///
    .team {
        background-color: #CAFAFA;
    }
    .person {
        &__item {
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            &--group1 {
                margin: 2.5%;
                float: left;
                width: 28%;
                height: auto;
                background-color: white;
                border-radius: 6px;
                -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
                -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
                box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            }
        }
    }
    .group1 {
        margin-top: 80px;
        height: auto;
    }
    .group2 {
        margin: 2.5%;
        width: 28%;
        height: 300px;
    }
    .per-item {
        &__img {
            background: rgb(128, 131, 131);
            width: 100px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-50%);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 4;
            box-shadow: 0px 0px 0px 7px #CAFAFA;
        }
        &__name {}
    }
    .per-name {
        &__title {
            margin: 0;
            font-size: 30px;
        }
        &__text {
            font-size: 16px;
            margin: 0px 5% 0px 5%;
            &--small {
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
    }
    .social-img {
        margin: 10px 5px 15px 5px;
        width: 25px;
        height: 25px;
    }
}


/*
.########..........########..########..######..##....##
.##.....##.........##.....##.##.......##....##.##...##.
.##.....##.........##.....##.##.......##.......##..##..
.########..#######.##.....##.######....######..#####...
.##.....##.........##.....##.##.............##.##..##..
.##.....##.........##.....##.##.......##....##.##...##.
.########..........########..########..######..##....##
*/

@media only screen and (min-width: 1366px) {
    nav {
        height: 8vh;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        flex: 1;
        letter-spacing: 5px;
        font-size: 16px;
        &--highlight {
            color: red;
        }
    }
    .nav-links {
        flex: 1;
        display: flex;
        justify-content: space-around;
        &__link {
            list-style: none;
        }
        &__title {
            letter-spacing: 2px;
            font-weight: bold;
            color: rgb(148, 147, 145);
            text-decoration: none;
        }
    }
    .collapse {
        display: none;
    }
    .collapse {
        margin: auto;
        &__line {
            width: 25px;
            height: 3px;
            background-color: rgb(148, 147, 145);
            margin: 5px;
        }
    }
    .current {
        color: red;
    }
    // 
    .top {
        margin: auto;
        text-align: center;
        &__intro {}
        &__button {
            margin-top: 30px;
        }
        &--home {
            padding-top: 200px;
            min-height: 650px;
            background-color: #7D7D7C;
        }
        &--price {
            margin-bottom: 20px;
            min-height: 100vh;
            background-color: #CAFAFA;
        }
        &--team {
            max-width: 100%;
            min-height: 120vh;
            background-color: #CAFAFA;
        }
    }
    ///
    .exp {
        display: inline-flex;
        background: #EBF1F1;
        align-items: center;
        &__exp-image {
            width: 50%;
        }
        &__exp-content {
            width: 50%;
        }
    }
    .exp-image {
        height: auto;
        &__img {
            padding: 50px 0 50px 0;
            width: 100%;
            height: auto;
        }
    }
    .exp-content {
        &__box {
            padding: 20px 0 20px 0;
            width: 100%;
        }
    }
    .exp-group1 {
        float: left;
    }
    .box {
        margin: 0;
        width: 100%;
        &__img {
            &--small {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            &--medium {
                width: 30px;
                height: 30px;
            }
        }
        &__title {
            font-size: 16px;
            margin-left: 20px;
        }
        &__detail {
            margin-left: 15%;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__content {
            font-size: 13px;
            width: 100%;
            float: left;
            &--group1 {
                width: 100%;
                display: flex;
                float: left;
            }
            &--group2 {
                display: flex;
                width: 100%;
            }
        }
    }
    ///
    .price-list {
        height: auto;
        &__item {
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
        }
    }
    .p-item {
        margin: 1.25%;
        float: left;
        width: 22.5%;
        height: auto;
        &__title {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding-top: 10px;
        }
        &__price {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 15px;
            &--bigger {
                font-weight: bold;
                font-size: 80px;
            }
        }
        &__description {
            margin: 10px;
            font-size: 16px;
            font-weight: 20px;
            font-weight: bold;
        }
    }
    .team {
        background-color: #CAFAFA;
    }
    .person {
        &__item {
            background-color: white;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            &--group1 {
                margin: 2.5%;
                float: left;
                width: 28%;
                height: auto;
                background-color: white;
                border-radius: 6px;
                -webkit-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
                -moz-box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
                box-shadow: 1px 1px 6px 0px rgba(125, 118, 125, 1);
            }
        }
    }
    .group1 {
        margin-top: 80px;
        height: auto;
    }
    .group2 {
        margin: 2.5%;
        width: 28%;
        height: 300px;
    }
    .per-item {
        &__img {
            background: rgb(128, 131, 131);
            width: 100px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            transform: translateY(-50%);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 4;
            box-shadow: 0px 0px 0px 7px #CAFAFA;
        }
        &__name {}
    }
    .per-name {
        &__title {
            margin: 0;
            font-size: 30px;
        }
        &__text {
            font-size: 16px;
            margin: 0px 5% 0px 5%;
            &--small {
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
    }
    .social-img {
        margin: 10px 5px 15px 5px;
        width: 25px;
        height: 25px;
    }
}